
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header__list{
    list-style: none;
    display: flex;
    gap: 1.8rem;
}

.header__list-item:hover{
    transform: scale(1.1);
}

.header__list-item a{
    color: white;
    text-decoration: none;
}

.main{
    display: flex;
    gap: 1rem;
}



.aside {
    width: 15%;
    background-color: #e6eaec;
    height: fit-content;
}

.aside__list {
    list-style: none;
}

.aside__item{
    border-bottom: 1px solid black;
    padding: 0.7rem;
}

.logout{
    background-color: darkgray;
}

.aside__item:hover{
    cursor: pointer;
}



.section{
    width: 80%;
    background-color: rgb(211, 233, 241);
    display: flex;
    justify-content: center;

}

.logout-button__container{
    width: 100px;
}

.logout-button {
    width: 100%;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.form-container__form{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.form-container__input-container{
    display: flex;
    gap: 1rem;
}

.signin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.signin-container__input-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-error{
    color: red;
}

.form-container__error-message{
    color: red;
}

.footer{
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}